<footer>
  <div id="footer" class="container">
    <div id="devby" class="span-6">100% homemade by @willmouse</div>
    <div id="tech" class="span-6 last"><p>Rails and Linode</p></div>
  </div>
</footer>