<header>
  <div class="container">
    <div id="title" class="span-5">
      <h1>达拉然图书馆</h1>
    </div>
    <div id="welcome" class="span-7 last">
      <ul>
        <li><a href="/login" class="rounder">Login</a></li>
        <li><a href="/register" class="rounder">Register</a></li>
      </ul>
    </div>
  </div>
</header>