<!DOCTYPE html>
<html>
<head>
  <title>家酿酒俱乐部</title>
  <%= stylesheet_link_tag    "application", "screen", "style" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="page">
		<%= yield %>
	</div>
</body>
</html>
